body {
    font-family: "Inter", sans-serif;
}

header {
    padding: 10px;
    background-color: #460202;
    color: #fff;
    text-align: center;
}

form {
    display: block;
    justify-self: center;
    background-color: #dcdcdc;
    padding: 16px;
}

div, fieldset{
    padding: 16px;
}

input, textarea {
    display: block;
    width: 100%;
}

label {
    padding: 2px;
}

legend{
    text-align: center;
}

.left-grid {
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    padding-top: 0px;
}

footer {
    text-align: center;
    background-color: #460202;
    color: #fff;
    padding: 8px;
}

h2 {
    font-size: 128px;
    text-align: center;
}

main p {
    font-size: 64px;
    text-align: center;
}

fieldset p {
    font-size: 16px;
    grid-column: span 2;
}

@media only screen and (min-width: 40em) {
    form {
        width: 80%;
    }

    legend, fieldset p {
        text-align: left;
    }
}