* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgb(70, 2, 2);
    color: #fff;
}

header h1 {
    font-size: 40px;
    padding-left: 16px;
}

#menu {
	display: block;
	font-size: 1rem;
	font-weight: 700;
	text-decoration: none;
	padding: 0.5rem 0.75rem;
	background-color: #eee;
	color: #000;
}

#menu::before {
	content: "≡";
}

nav {
    display: flex;
	background-color: rgb(70, 2, 2);
}
.navigation {
	list-style: none;
	margin: 0 auto;
	max-width: 760px;
}

.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: #fff;
	font-weight: 700;
	transition: 0.5s;
	font-size: 25px;
}

.navigation a:hover,
.navigation a:active {
	color: white;
	background-color: black;
}

.show li {
	display: block;
}

#menu.show::before {
	content: "X";
}

body {
    text-align: center;
    font-family: "Inter", sans-serif;
}

h2 {
    font-size: 32px;
    padding-top: 25px;
}

div {
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 8px;
	place-items: center;
    margin: 1rem auto;
	max-width: 960px;
	padding: 0.5rem;
}

img {
	width: 100%;
	height: auto;
	margin: 0.5rem;
}

footer {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(70, 2, 2);
    padding: 8px;
    color: #fff;
}